* {
    font-family: 'Times New Roman', Times, serif;
}

.form h2 {
    padding-top: 20px;
}

.adminLogin {
    background-color: rgb(224, 248, 236);
    width: 400px;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.image img {
    height: 100vh;
    margin-left: 50px;
}


.formInput input:focus {
    outline: none;
}

.btn {
    margin-top: 20px;
    padding: 5px 50px;
    background-color: green;
    color: white;
}