/* * {
    margin: 0;
    padding: 0;
} */


.hello {
    display: flex;
    background-color: #e3f6f5;
    margin: 10px;
    padding: 10px;
}

.info h3, .info h5 {
    margin: 15px;
    border-bottom: 1px solid black;
}

#btn {
    padding: 5px 15px;
    margin-left: 15px;
    background-color: dodgerblue;
    color: black;
    border-radius: 10px;
}