* {
    font-family: 'Times New Roman', Times, serif;
}

.form h2 {
    padding-bottom: 30px;
}

.userLogin {
    background-color: lightgrey;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    left: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.formInput input {
    margin: 10px;
    padding: 5px;
    width: 300px;
}

.formInput input:focus {
    outline: none;
}

.btn {
    margin-top: 20px;
    padding: 5px 50px;
    background-color: green;
    /* font-weight: bold; */
    color: white;
}